@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.falling-leaf {
  position: absolute;
  top: -80px;
  font-size: 57
  00px;
  color: rgba(0, 54, 49, 1.65);  
  animation: fallingLeaf 9s linear infinite;
}


.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2.5s;
}

.animation-delay-3 {
  animation-delay: 4s;
}

.animation-delay-4 {
  animation-delay: 5.5s;
}
@theme inline {
  --color-background: #E7F5DC;
  --color-foreground: #728156;

  --color-primary: #98A77C;
  --color-light: #CFE1B9;
  --color-soft: #B6C99B;
  --color-card: #88976C;
  --color-dark: #728156;
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary: #003631;
  --secondary: #FFEDA8;
  --text-light: #FFEDA8;
}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
